*.obj
*.exe
*.pdb
*.sdf
*.opensdf
*.ipch
*.log
*.zip
*.suo
ipch/

#Debug/
#Release/
nppBackup/
update/
tmp/

!x64/Debug/
!x64/Release/

!debug/cfg.ini
!debug/libfftw3-3.dll
!release/cfg.ini
!release/libfftw3-3.dll

UavControl.pro.user*

*.db
moc_*.cpp
qrc_*.cpp
*.moc
*.ilk

/Makefile
/Makefile.Debug
/Makefile.Release
/Makefile

